<div class="col-6">
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="First Name" name="first_name"
            value="{{this.first_name}}">
        <label for="floatingInput">First Name</label>
    </div>
</div>

<div class="col-6">
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="last Name" name="last_name"
            value="{{this.last_name}}">
        <label for="floatingInput">Last Name</label>
    </div>
</div>

<div class="col-6">
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="E-mail" name="email"
            value="{{this.email}}">
        <label for="floatingInput">E-mail</label>
    </div>
</div>

<div class="col-6">
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="Phone" name="phone"
            value="{{this.phone}}">
        <label for="floatingInput">Phone</label>
    </div>
</div>

<div class="col-12">
    <div class="form-floating mb-3">
        <textarea type="email" class="form-control" id="floatingInput" placeholder="Comments" name="comments"
            style="height: 200px;">{{this.comments}} </textarea>
        <label for="floatingInput">Comments</label>
    </div>
</div>

<div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Add User</button>
</div>